<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Система аудита</title>
    </h:head>
    <h:body> 
        <h:form id="daily">
            <p:growl id="msgs" showDetail="true" />
            <p:selectOneRadio value="#{calendarView.selRadio}">
                <f:selectItem itemLabel="Суточная статистика" itemValue="1"/>
                <f:selectItem itemLabel="Статистика за период" itemValue="2" />
                <p:ajax  update="upd"  process="@this" listener="#{printGrafig.cleanGraphic()}"/> <!-- update=":upd"-->
            </p:selectOneRadio>
            <h:panelGrid id="upd" columns="1">
                <p:panelGrid id="day" columns="3"  rendered="#{calendarView.selRadio eq 1}" layout="grid"  style="margin-top:30px; ">
                    <f:facet name="header">
                        <p:row>
                            <p:outputLabel for="event" value="Суточная статистика:"  />
                    <p:calendar id="event" value="#{calendarView.dailystat}" pattern="yyyy-MM-dd" style="padding: 30px" />
                    <p:commandButton id="daily-statistics" actionListener="#{calendarView.countSeansForDayByHours()}" update=":daily"  value="Показать статистику" style="margin-left: 15px"/>
                        </p:row>
                    </f:facet>
                    <h:panelGrid  columns="1" rendered="#{not empty printGrafig.createAnimatedModels()}">
                </h:panelGrid> 
                    <p:chart  type="line" model="#{printGrafig.animatedModel1}"  style="width:800px;height: 400px; "/>
                </p:panelGrid>
                

                <!-- было тут-->
                
                <p:panelGrid id="period" columns="4"  rendered="#{calendarView.selRadio eq 2}" layout="grid" style="margin-top:30px" >
                    <f:facet name="header">
                        <p:row >
                         <!-- <p:column style="padding: 10px" >Статистика за период: </p:column>-->
                             <p:outputLabel for="monthly1" value="Статистика за период:"/> 
                        
                          <p:calendar id="monthly1" value="#{calendarView.date1ForPeriod}" pattern="yyyy-MM-dd" style="padding: 30px"/> 
                           <p:calendar id="monthly2" value="#{calendarView.date2ForPeriod}" pattern="yyyy-MM-dd"/>
                           <p:commandButton id="monthly-statistics" actionListener="#{calendarView.countSeansesForPeriod()}" value="Показать статистику" update=":daily" style="margin-left: 15px"/>
                    </p:row>
                    </f:facet>
                       
                    <h:panelGrid  rendered="#{not empty printGrafig.createAnimateModelForPeriod()}">
                        </h:panelGrid>
                    
                        <p:chart  type="line" model="#{printGrafig.animatedModelForPeriod}" style="width:800px;height: 400px;"/>
                </p:panelGrid> 
                
                
                
                </h:panelGrid> 

            



        </h:form>
    </h:body>
</html>

